#### Pandas Dataframe by Database

##### DB 모듈
- MySQL : pymysql
- Oracle : cx_Oracle
- SQL server : pymssql

In [1]:
# MySQL
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
                                              0.0/43.7 kB ? eta -:--:--
     ---------------------------------------- 43.7/43.7 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [2]:
import pandas as pd
import pymysql

In [5]:
conn = pymysql.connect(host='210.119.14.56', port=3306, user='root', password='12345', db='sakila')
query = 'SELECT * FROM actor'

df =pd.read_sql_query(query, conn)
print('조회 완료')

조회 완료

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7764\2495762381.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df =pd.read_sql_query(query, conn)

In [6]:
df

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]

In [7]:
df.to_csv('./actor_list.csv', encoding='utf-8', index=False)

In [8]:
titanic = pd.read_csv('./data/titanic_train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
# jinja2 설치
!pip install Jinja2

Collecting Jinja2
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
                                              0.0/133.1 kB ? eta -:--:--
     -------------------------------------- 133.1/133.1 kB 4.0 MB/s eta 0:00:00
Collecting MarkupSafe>=2.0 (from Jinja2)
  Downloading MarkupSafe-2.1.3-cp311-cp311-win_amd64.whl (17 kB)
Installing collected packages: MarkupSafe, Jinja2
Successfully installed Jinja2-3.1.2 MarkupSafe-2.1.3

In [16]:
titanic_train2 = titanic[['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]
titanic_train2

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

In [17]:
pd.options.display.max_rows = 100 # 최대 행수를 100개 지정
titanic_train2.head(100).style.highlight_max(color='lightgreen')

In [18]:
titanic_train2.head(100).style.highlight_min(color='orange')

In [28]:
titanic_train2.head(100).style.highlight_null(color='lightgray')

In [20]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp311-cp311-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
     -                                        0.3/7.6 MB 6.8 MB/s eta 0:00:02
     ----                                     0.8/7.6 MB 8.7 MB/s eta 0:00:01
     -------                                  1.4/7.6 MB 10.0 MB/s eta 0:00:01
     -----------                              2.2/7.6 MB 12.6 MB/s eta 0:00:01
     ---------------                          2.9/7.6 MB 12.5 MB/s eta 0:00:01
     ----------------------                   4.4/7.6 MB 15.5 MB/s eta 0:00:01
     -----------------------------------      6.7/7.6 MB 20.4 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 22.1 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 22.1 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 18.0 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.0-cp311-cp311-win_amd64.whl (470 kB)
                                              0.0/470.9 kB ? eta -:--:--
     ------------------------------------- 470.9/470.9 kB 28.8 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.40.0-cp311-cp311-win_amd64.whl (1.9 MB)
                                              0.0/1.9 MB ? eta -:--:--
     -----------------------------            1.4/1.9 MB 30.5 MB/s eta 0:00:01
     ---------------------------------------- 1.9/1.9 MB 24.8 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
                                              0.0/55.4 kB ? eta -:--:--
     ---------------------------------------- 55.4/55.4 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20 in c:\program files\python311\lib\site-packages (from matplotlib) (1.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading Pillow-9.5.0-cp311-cp311-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     -------------------------                1.6/2.5 MB 50.5 MB/s eta 0:00:01
     ---------------------------------------  2.5/2.5 MB 39.7 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 26.6 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.0-py3-none-any.whl (102 kB)
                                              0.0/102.6 kB ? eta -:--:--
     -------------------------------------- 102.6/102.6 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\program files\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.40.0 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.1.0

In [24]:
# 출력포맷
titanic_train2.tail(20).style.format({'Fare' : '${:.2f}'})