# 주피터 노트북 기본

### 단축키
- Ctrl + Enter : 셀 실행 
- Shift + Enter : 셀 실행 아래 같은 셀 추가
- Enter : 현재 셀 진입
- ESC : 현재 셀 빠져나가기
- b : 현재 셀 아래 새 셀 추가
- a : 현재 셀 위 새 셀 추가
- m : 현재 셀(python) -> 마크다운 셀 변경
- y : 현재 셀(Markdown) -> 파이썬 셀 변경
- Shift + L : 셀 라인번호 표시 토글

### 셀 추가/삭제
- 코드 버튼 클릭 - Python 코드 셀 추가
- Markdown 버튼 클릭 - 마크다운 셀 추가

In [10]:
print('Hello, Python!')

Hello, Python!

### 일반 출력
```python
print('Hello, python!') # 마크다운 코드 추가 (실행되는 것은 아님)
```

In [11]:
print('Hi~')

Hi~

### 이미지 추가
> 이미지 추가~~

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png" width="100">
<br/>
<img src="https://blog.kakaocdn.net/dn/bEQNqy/btqGfMgXlp2/J4t2RSahhvG55otCINBSc1/img.jpg" width="300">

---

수평선 만들려면 ---    
세 번 띄어쓰면 한 줄 밑으로   
*이탤릭*   
**볼드**

--- 

> 테이블

:--- => 왼쪽 정렬   
---: => 오른쪽 정렬   
:--: => 중앙 정렬   

|제목|내용|비고|
|:-----|---------:|:----:| 
|제목1|내용1|비고1|
|제목2|내용2|비고2|
|제목3|내용3|비고3|
|제목4|내용입니다4|비고4|
|제목입니다5|내용5|비고입니다5|

### 주피터 노트북 디버깅
- 브레이크 포인트(중단점 클릭)
- Ctrl + Shift + Alt + Enter
    - py 디버깅과 동일 (F10, F11) 사용

In [12]:
# 나누기 함수
def divide(x, y):
    result = ''
    try:
        result = x // y
    except Exception as e:
        print(f'예외발생 : {e}')

    print('나누기 완료')
    return result

In [13]:
print(divide(7, 0))

예외발생 : integer division or modulo by zero
나누기 완료

### 출력 python과 차이점
- 변수 출력할때
    - 변수명만 입력 후 실행 결과 출력
    - print()도 출력
    - 단, 변수만 쓸때는 제일 마지막 변수만 출력
    - 여러번 출력하고 싶으면 print() 사용할 것
    - 하지만, 변수를 그냥 출력할때와 print() 출력할때는 눈에 보이는 결과가 다름

In [14]:
a = 'Hello Python!'
a

'Hello Python!'

In [15]:
print(a)

Hello Python!

### 경로 문제 해결
.py에서의 파일 경로와 .ipynb에서의 경로가 서로 다름
- .py => ./Day04/dummy_members.csv
- .ipynb => ./dummy_members.csv

In [16]:
import pandas as pd

# 주의점! 주피터노트북에서는 같은 폴더에 위치한 파일을 읽을 때 => ./파일명
df = pd.read_csv('./dummy_members.csv') 
df

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,윤서연,9241,울산광역시 송파구 봉은사7가 (선영김리),070-8534-2420,iryu@example.net
1,1,김유진,62413,전라남도 정선군 강남대815가,011-875-1437,yeongsig36@example.com
2,2,김민재,45462,서울특별시 강서구 테헤란8로,02-0869-0872,iyeongsug@example.org
3,3,이준서,10035,대전광역시 동구 반포대63가,053-011-7805,jinjiweon@example.org
4,4,김지현,53576,강원도 의정부시 잠실로 (민재양리),053-866-7162,bgim@example.com
5,5,이광수,23005,울산광역시 중랑구 테헤란가,052-085-7802,minseog37@example.org
6,6,최정웅,31230,경상남도 동두천시 학동7로,016-249-2271,egwag@example.com
7,7,박민재,88267,서울특별시 노원구 서초대가 (유진김이읍),055-998-9555,gimhyejin@example.com
8,8,서현주,19531,인천광역시 강남구 백제고분거리 (미정박박동),02-4501-0903,seongjin73@example.com
9,9,양정웅,69782,강원도 가평군 반포대길 (영희권읍),032-940-7448,seoseoyeon@example.com

In [17]:
import os

# 현재 파일의 위치
os.getcwd()

'c:\\Source\\bigdata-python-2023\\Day04'

### 출력 초과 문제
콘솔이나 주피터 셀 출력 전체가 다 나오지 않는 현상 (성능적 문제 때문에 제약)

In [20]:
data = pd.read_csv('./dummy_members2.csv', encoding='utf-8')
data

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,백명자,88654,울산광역시 송파구 삼성90길,016-673-2806,yunseojang@example.org
1,1,김순옥,6459,경상북도 용인시 기흥구 오금87길 (준영김서읍),016-904-0217,minjunryu@example.org
2,2,허은서,47392,경상남도 안양시 도산대거리,032-034-8210,zseo@example.com
3,3,이혜진,17881,충청남도 파주시 반포대11길,051-811-7682,hongjeongsig@example.com
4,4,최영일,57462,대전광역시 서초구 서초중앙거리,018-522-3003,seojuni@example.org
...,...,...,...,...,...,...
995,995,오영숙,9842,전라남도 공주시 도산대0가 (은정류김읍),070-1618-8451,jongsubag@example.net
996,996,최성현,8490,대전광역시 용산구 개포70길 (영수고이동),052-565-5147,sumini@example.org
997,997,이영일,9658,대구광역시 강남구 학동023로,033-269-5934,ogja80@example.net
998,998,안지연,53339,충청남도 공주시 압구정거리 (현준김리),033-448-5903,joyujin@example.org
999,999,김영일,71598,대전광역시 강북구 서초중앙06로,043-649-8725,zyun@example.org

In [22]:
# 모두 출력
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

pd.options.display.max_columns = 10   
pd.options.display.max_rows = 100

data = pd.read_csv('./dummy_members2.csv', encoding='utf-8')
data

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,백명자,88654,울산광역시 송파구 삼성90길,016-673-2806,yunseojang@example.org
1,1,김순옥,6459,경상북도 용인시 기흥구 오금87길 (준영김서읍),016-904-0217,minjunryu@example.org
2,2,허은서,47392,경상남도 안양시 도산대거리,032-034-8210,zseo@example.com
3,3,이혜진,17881,충청남도 파주시 반포대11길,051-811-7682,hongjeongsig@example.com
4,4,최영일,57462,대전광역시 서초구 서초중앙거리,018-522-3003,seojuni@example.org
...,...,...,...,...,...,...
995,995,오영숙,9842,전라남도 공주시 도산대0가 (은정류김읍),070-1618-8451,jongsubag@example.net
996,996,최성현,8490,대전광역시 용산구 개포70길 (영수고이동),052-565-5147,sumini@example.org
997,997,이영일,9658,대구광역시 강남구 학동023로,033-269-5934,ogja80@example.net
998,998,안지연,53339,충청남도 공주시 압구정거리 (현준김리),033-448-5903,joyujin@example.org
999,999,김영일,71598,대전광역시 강북구 서초중앙06로,043-649-8725,zyun@example.org