#### 서울 열린 데이터 광장 공공데이터 수집

##### 서울 열린 데이터 광장
: https://data.seoul.go.kr/together/mypage/actkeyMain.do

In [1]:
import requests
import pandas as pd

In [ ]:
# API 호출키
SEOUL_API_KEY = 'api 키'

In [2]:
# 시군구 목록 API
url = 'https://openapi.seoul.go.kr:8088'

In [8]:
import warnings
warnings.simplefilter("ignore")

# 서울시 시군구별 인구 데이터
pop_df = pd.read_excel('./주민등록인구_202307.xlsx', header=1, usecols='B:H')
columns = {'동별(2)':'구', '세대 (세대)':'세대수', '계':'계', '한국인':'한국인', 
           '등록외국인':'외국인', '세대당인구':'비율', '65세이상고령자':'고령자'}
pop_df.rename(columns=columns, inplace=True)
pop_df

       구      세대수        계      한국인     외국인    비율      고령자
0     소계  4446296  9667669  9428372  239297  2.12  1667411
1    종로구    72524   152211   141379   10832  1.95    27958
2     중구    63139   130785   120437   10348  1.91    25055
3    용산구   109805   233284   218650   14634  1.99    39037
4    성동구   133305   288234   281000    7234  2.11    47720
5    광진구   169291   351252   337416   13836  1.99    54071
6   동대문구   169873   353601   336644   16957  1.98    64468
7    중랑구   187413   390140   385318    4822  2.06    74920
8    성북구   197082   441984   430397   11587  2.18    77475
9    강북구   144313   297702   293660    4042  2.03    66307
10   도봉구   138356   313989   311694    2295  2.25    66998
11   노원구   217540   508014   503734    4280  2.32    92040
12   은평구   213876   470602   466746    3856  2.18    89650
13  서대문구   145797   319554   306337   13217  2.10    55996
14   마포구   180084   375585   364638   10947  2.02    55914
15   양천구   181187   444010   440881    3129  2.43    72393
16   강서구   273697   574638   569166    5472  2.08    97128
17   구로구   183655   418418   395315   23103  2.15    75890
18   금천구   119583   242818   229642   13176  1.92    42928
19  영등포구   188832   398085   375675   22410  1.99    64810
20   동작구   185773   390432   380596    9836  2.05    68231
21   관악구   283623   501226   486752   14474  1.72    82447
22   서초구   167749   408451   404325    4126  2.41    62347
23   강남구   232777   534103   529102    5001  2.27    81715
24   송파구   284853   664514   658801    5713  2.31   103573
25   강동구   202169   464037   460067    3970  2.28    78340

In [9]:
# 첫번째 행(합계) 삭제
pop_df.drop([0], axis=0, inplace=True)
pop_df

       구     세대수       계     한국인    외국인    비율     고령자
1    종로구   72524  152211  141379  10832  1.95   27958
2     중구   63139  130785  120437  10348  1.91   25055
3    용산구  109805  233284  218650  14634  1.99   39037
4    성동구  133305  288234  281000   7234  2.11   47720
5    광진구  169291  351252  337416  13836  1.99   54071
6   동대문구  169873  353601  336644  16957  1.98   64468
7    중랑구  187413  390140  385318   4822  2.06   74920
8    성북구  197082  441984  430397  11587  2.18   77475
9    강북구  144313  297702  293660   4042  2.03   66307
10   도봉구  138356  313989  311694   2295  2.25   66998
11   노원구  217540  508014  503734   4280  2.32   92040
12   은평구  213876  470602  466746   3856  2.18   89650
13  서대문구  145797  319554  306337  13217  2.10   55996
14   마포구  180084  375585  364638  10947  2.02   55914
15   양천구  181187  444010  440881   3129  2.43   72393
16   강서구  273697  574638  569166   5472  2.08   97128
17   구로구  183655  418418  395315  23103  2.15   75890
18   금천구  119583  242818  229642  13176  1.92   42928
19  영등포구  188832  398085  375675  22410  1.99   64810
20   동작구  185773  390432  380596   9836  2.05   68231
21   관악구  283623  501226  486752  14474  1.72   82447
22   서초구  167749  408451  404325   4126  2.41   62347
23   강남구  232777  534103  529102   5001  2.27   81715
24   송파구  284853  664514  658801   5713  2.31  103573
25   강동구  202169  464037  460067   3970  2.28   78340

In [10]:
# 인덱스 재정의
pop_df.reset_index(drop=True, inplace=True)
pop_df

       구     세대수       계     한국인    외국인    비율     고령자
0    종로구   72524  152211  141379  10832  1.95   27958
1     중구   63139  130785  120437  10348  1.91   25055
2    용산구  109805  233284  218650  14634  1.99   39037
3    성동구  133305  288234  281000   7234  2.11   47720
4    광진구  169291  351252  337416  13836  1.99   54071
5   동대문구  169873  353601  336644  16957  1.98   64468
6    중랑구  187413  390140  385318   4822  2.06   74920
7    성북구  197082  441984  430397  11587  2.18   77475
8    강북구  144313  297702  293660   4042  2.03   66307
9    도봉구  138356  313989  311694   2295  2.25   66998
10   노원구  217540  508014  503734   4280  2.32   92040
11   은평구  213876  470602  466746   3856  2.18   89650
12  서대문구  145797  319554  306337  13217  2.10   55996
13   마포구  180084  375585  364638  10947  2.02   55914
14   양천구  181187  444010  440881   3129  2.43   72393
15   강서구  273697  574638  569166   5472  2.08   97128
16   구로구  183655  418418  395315  23103  2.15   75890
17   금천구  119583  242818  229642  13176  1.92   42928
18  영등포구  188832  398085  375675  22410  1.99   64810
19   동작구  185773  390432  380596   9836  2.05   68231
20   관악구  283623  501226  486752  14474  1.72   82447
21   서초구  167749  408451  404325   4126  2.41   62347
22   강남구  232777  534103  529102   5001  2.27   81715
23   송파구  284853  664514  658801   5713  2.31  103573
24   강동구  202169  464037  460067   3970  2.28   78340

In [23]:
seoul_last_df = pop_df[['구', '계']]
seoul_last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   계       25 non-null     int64
dtypes: int64(1), object(1)
memory usage: 532.0+ bytes

In [12]:
seoul_last_df.to_excel('./seoul_pop.xlsx', index=False)

##### 서울시 시군구별 사업체 데이터

In [17]:
biz_df = pd.read_excel('./사업체현황_2307.xlsx', header=3, usecols='B:G')
columns = {
    '동별(2)':'구',
    '소계':'사업체수',
    '여성대표자':'여성대표자',
    '소계.1':'종사자수 합계',
    '남':'종사자(남)',
    '여':'종사자(여)'
}
biz_df.rename(columns=columns, inplace=True)
biz_df

       구     사업체수   여성대표자  종사자수 합계   종사자(남)   종사자(여)
0     소계  1188091  407948  5771226  3218529  2552697
1    종로구    48361   16563   275063   153210   121853
2     중구    70308   25794   386564   213782   172782
3    용산구    29680   10454   152605    84314    68291
4    성동구    41665   13447   203221   116978    86243
5    광진구    33706   12297   129707    71124    58583
6   동대문구    42813   14480   146383    78105    68278
7    중랑구    39310   13471   113144    59221    53923
8    성북구    34712   13393   124004    60275    63729
9    강북구    26385    9807    80222    38440    41782
10   도봉구    25391    8886    79097    41600    37497
11   노원구    37909   14092   133398    63208    70190
12   은평구    36509   14446   109031    51769    57262
13  서대문구    28522   10787   118256    58797    59459
14   마포구    56782   19865   279788   152822   126966
15   양천구    37929   14039   133776    70222    63554
16   강서구    58806   19887   290473   164478   125995
17   구로구    52791   16161   240689   140067   100622
18   금천구    47964   13700   255449   158019    97430
19  영등포구    74562   22629   435017   253173   181844
20   동작구    27915   10964   109281    54637    54644
21   관악구    37915   13641   128417    68392    60025
22   서초구    71958   23066   487976   290084   197892
23   강남구   110007   35453   801419   447809   353610
24   송파구    74531   25400   400781   244588   156193
25   강동구    41660   15226   157465    83415    74050

In [19]:
# 첫번째 행 삭제
biz_df.drop([0], axis=0, inplace=True)
biz_df

       구    사업체수  여성대표자  종사자수 합계  종사자(남)  종사자(여)
1    종로구   48361  16563   275063  153210  121853
2     중구   70308  25794   386564  213782  172782
3    용산구   29680  10454   152605   84314   68291
4    성동구   41665  13447   203221  116978   86243
5    광진구   33706  12297   129707   71124   58583
6   동대문구   42813  14480   146383   78105   68278
7    중랑구   39310  13471   113144   59221   53923
8    성북구   34712  13393   124004   60275   63729
9    강북구   26385   9807    80222   38440   41782
10   도봉구   25391   8886    79097   41600   37497
11   노원구   37909  14092   133398   63208   70190
12   은평구   36509  14446   109031   51769   57262
13  서대문구   28522  10787   118256   58797   59459
14   마포구   56782  19865   279788  152822  126966
15   양천구   37929  14039   133776   70222   63554
16   강서구   58806  19887   290473  164478  125995
17   구로구   52791  16161   240689  140067  100622
18   금천구   47964  13700   255449  158019   97430
19  영등포구   74562  22629   435017  253173  181844
20   동작구   27915  10964   109281   54637   54644
21   관악구   37915  13641   128417   68392   60025
22   서초구   71958  23066   487976  290084  197892
23   강남구  110007  35453   801419  447809  353610
24   송파구   74531  25400   400781  244588  156193
25   강동구   41660  15226   157465   83415   74050

In [21]:
seoul_biz_df = biz_df[['구', '사업체수', '종사자수 합계']]
seoul_biz_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   구        25 non-null     object
 1   사업체수     25 non-null     int64
 2   종사자수 합계  25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 732.0+ bytes

In [22]:
seoul_biz_df.to_excel('./seoul_biz.xlsx', index=False)